<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <title>MixB</title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/jquery-2.1.4.js"></script>
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="MixB" ng-controller="MainCtrl">

    <ion-side-menus>

      <!-- Left menu -->
      <ion-side-menu side="left">
        <ion-header-bar>
          <h1 class="title">国を選ぶ</h1>
        </ion-header-bar>

        <ion-content>
          <ion-list>
            <ion-item ng-repeat="country in countries"
             ng-click="selectCountry($index)"
             ng-class="{active: activeCountry == $index}">
              {{country.name}}
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-side-menu>

      <!-- Center content -->
      <ion-side-menu-content drag-content="false">
        <ion-header-bar class="bar-dark">
          <button class="button button-icon" ng-click="toggleCountries()">
            <i class="icon ion-navicon"></i>
          </button>
          <h1 class="title">MixB {{countries[activeCountry].name}}</h1>
        </ion-header-bar>

        <ion-header-bar class="bar-subheader">
          <ion-scroll direction="x" scrollbar-x="false" scrollbar-y="false" class="wide-as-needed">
            <button class="button button-tab"
              ng-repeat="category in countries[activeCountry].categories"
              ng-class="category.id + ((activeCategory == $index) ? ' active'  : '')"
              ng-click="onTabSelected($index)">{{category.name}}</button>
          </ion-scroll>
        </ion-header-bar>

        <ion-content has-header="true" delegate-handle="main">
          <ion-refresher
            on-refresh="updateItems()">
          </ion-refresher>

          <ion-slide-box show-pager="false"
            on-slide-changed="onSlideChanged($index)">
            <ion-slide ng-repeat="category in countries[activeCountry].categories">

              <form ng-submit="searchItem()" >
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input ng-model="category.query" type="search" placeholder="検索"></input>
                </label>
              </form>

              <ion-list ng-if="activeCategory === $index">
                <ion-item style="padding:10px"
                  ng-repeat="item in category.items track by $index"
                  ng-click="openItemDetail(item)">
                  <p>
                    <span style="padding:2px"
                        ng-repeat="header in item.headers track by $index">
                      {{header}}
                    </span>
                  </p>
                  <h2>{{item.title}}</h2>
                </ion-item>
              </ion-list>
            </ion-slide>
          </ion-slide-box>

          <ion-infinite-scroll
            on-infinite="loadMore()"
            immediate-check="true">
          </ion-infinite-scroll>

        </ion-content>
      </ion-side-menu-content>
    </ion-side-menus>

    <script id="item-detail.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar>
          <a class="button icon-left ion-chevron-left button-clear button-dark"
            ng-click="closeItemDetail()">戻る</a>
        </ion-header-bar>
        <ion-content>
          <h3>{{title}}</h3>
          <p ng-bind-html="metadata"></p>
          <p ng-bind-html="content"></p>
          <p ng-bind-html="photo"></p>
        </ion-content>
      </ion-modal-view>
    </script>
  </body>
</html>
