<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <title>MixB</title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="lib/slidingTabs.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/jquery-2.1.4.js"></script>
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/slidingTabsDirective.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="MixB" ng-controller="MainCtrl">


    <ion-side-menus>
      <!-- Left menu -->
      <ion-side-menu side="left">
        <ion-header-bar>
          <h1 class="title">国を選ぶ</h1>
        </ion-header-bar>

        <ion-content>
          <ion-list>
            <ion-item ng-repeat="country in countries"
             ng-click="selectCountry(country, $index)"
             ng-class="{active: activeCountry == $index}">
              {{country.name}}
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-side-menu>

      <!-- Center content -->
      <ion-side-menu-content drag-content="true">
        <ion-header-bar class="bar-dark">
          <button class="button button-icon" ng-click="toggleCountries()">
            <i class="icon ion-navicon"></i>
          </button>
          <h1 class="title">MixB {{countries[activeCountry].name}}</h1>
        </ion-header-bar>

        <ion-content>
          <ion-refresher
            on-refresh="updateItems(activeCategory);">
          </ion-refresher>

          <ion-slide-box show-pager="false" ion-slide-tabs
            active-slide="activeCategory"
            on-slide-changed="updateItems($index)">
            <ion-slide ng-repeat="category in countries[activeCountry].categories"
                ion-slide-tab-label="{{category.name}}">
              <ion-list>
                <ion-item ng-repeat="item in category.items" ng-click="openItemDetail(item.url)">
                  {{item.title}}
                </ion-item>
              </ion-list>
            </ion-slide>
          </ion-slide-box>
        </ion-content>
      </ion-side-menu-content>
    </ion-side-menus>

    <script id="item-detail.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar>
          <a class="button icon-left ion-chevron-left button-clear button-dark" ng-click="closeItemDetail()">戻る</a>
        </ion-header-bar>
        <ion-content>
          <h3>{{title}}</h3>
          <p ng-bind-html="metadata"></p>
          <p ng-bind-html="content"></p>
          <p ng-bind-html="photo"></p>
        </ion-content>
      </ion-modal-view>
    </script>
  </body>
</html>
