.wide-as-needed {
    overflow: scroll;
    white-space: nowrap;
}
.scroll {
    min-width: 100%;
}

.bar-subheader {
    height: auto;
    padding: 0px;
}

.bar .button-tab {
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 5px 5px 0px 0px;
    border-width: 2px 2px 0px 2px;
    margin: 0px -1px 0px -1px;
    min-width: 70px;
    color: white;
}

.bar .button-active {
    font-weight: bold;
    z-index: 2;
}

.bar .acm {
    background: linear-gradient(#EF4DB6, #C643FC);
    border-color: #CA2677;
}

.bar .job {
    background: linear-gradient(#1AD6FD, #1D62F0);
    border-color: #5258A2;
}

.bar .sal {
    background: linear-gradient(#87FC70, #0BD318);
    border-color: #05A53D;
}

.bar .buy {
    background: linear-gradient(#FF9500, #FF5E3A);
    border-color: #F42A15;
}

.bar .les {
    background: linear-gradient(#FFDB4C, #FFCD02);
    border-color: #AE2200;
}

.bar .ser {
    background: linear-gradient(#52EDC7, #5AC8FB);
    border-color: #A2525C;
}

.bar .cir {
    background: linear-gradient(#C644FC, #5856D6);
    border-color: #A51EBE;
}

.bar .inf {
    background: linear-gradient(#DBDDDE, #898C90);
    border-color: #2D2D2D;
}
